* {
    background-color: black;
}

h1 {
    color: aliceblue;
    text-transform:uppercase;
    font-family: 'Libre Baskerville', serif;;
}

h3 {
    color: antiquewhite;
    
}

div {
    text-align: center;
    width: 100%;
    
}

img {
    border: 5px solid white;
}






#memeimage {
    width: 650px;
    height: 300PX;
}